html  
  head
    title="HeathHeroes"
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')


    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='/styles.css', rel='stylesheet')

  body
    #react-main-mount!= content

  script(src='http://localhost:8080/js/app-bundle.js', defer)