html  
  head
    title="HeathHeroes"
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')


    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='/styles.css', rel='stylesheet')
    //link(href='/react-widgets.css', rel='stylesheet')

  body
    #react-main-mount!= content

  script.
    window.__STATE__= JSON.parse("#{state}".split('\'').join('"'));
    console.log(JSON.stringify(window.__STATE__));

  script(src='http://localhost:8080/dist/vendor-bundle.js', defer)
  script(src='http://localhost:8080/dist/app-bundle.js', defer)
  