<style>
	header {
		display: block;
	}

	header nav {
		background-color: #888;
		text-align: left;
		vertical-align: baseline;
	}

	nav ul {
		list-style: none;
		line-height: 1em;
	}

	nav ul li {
		text-align: left;
		display: inline;
	}

	nav ul li a{
		text-align: left;
		padding: 5px;
		display: inline;
	}

	nav ul li a:hover{
		color: teal;
	}

	input[type="date"]::-webkit-clear-button {
    display: none;
}
	
</style>