/**
 * Eric Meyer's Reset CSS v2.0 
(http://meyerweb.com/
eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family:Arial,San-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	width:100%;
	background-color: #cccccc;
	position:relative;
}
#mainContainer{
	max-width:1025px;
	margin: 0 auto;
	background-color:#fff;
}
header.logoExport{
	background-color:#949494;
	padding:10px;
	max-width:100%;
	height:auto;
	min-height:30px;
	
}
h1{
	font-size: 30px;
	text-align: left;
	float:left;
	width:70%;
}
h2{
	font-size: 24px;
	font-weight: bold;
	color:#565454;
	margin: 0 0 5px 0;
}
h3{
	font-size:17px;
	color:#565454;
	font-weight: bold;
	margin: 0 0 10px 0;
}
h4,h5{
	font-weight:bold;
}
footer{
	text-align: center;
	color:#fff;
	clear:both;
	background-color:#252525;
	padding:10px;
}

/* Data Page */
ul.signInInfo {
	float:left;
	width:20%;
}
ul.signInInfo li{
	display:inline;	
}
ul.signInInfo li.greeting{
	margin: 0 20px 0 0;
	padding: 0 20px 0 0;
	border-right:1px solid #000;
}
.output{
	float:right;	
}

.sleepAlertness {
	background-color:#e7e7e8;
	width:35%;
	float:left;
	padding:10px;
}
.sleepAlertness ul li{
	padding:10px;
}
.sleepAlertness ul li ul li{
	padding:5px;
}
.sleepAlertnessHeader{
	width: 100%;
}
.recordSleep{
	border-bottom:3px solid #fff;	
}
.recordSleep ul {
	margin: 20px 0;
	display:inline-block;
	width:100%;
	position:relative;
}
.recordSleep ul li img{
	float:left;
}
/*.recordSleep ul li input{
	font-size:24px;
	padding:5px;	
}*/
.sleepTimePicker{
	/*font-size:24px;*/
	padding:5px;
	display: inline-block;
	width: 150px;
}
.recordSleep ul li{
	display:inline-block;
}
.recordSleep ul li.hoursSlept{
	float:right;
	position:absolute;
	top:20%;
	color:#909090;
	min-width: 100px;
}
.recordSleep ul li.hoursSlept div{
	font-size:14px;
	text-align:center;
	display: inline-block;
	float: left;
}
.recordSleep ul li.hoursSlept div strong{
	font-size:36px;
	display:block;
	font-weight:bold;
}
.alertnessLevel{
	position:relative;	
}
.alert{
	font-weight:bold;
	margin:10px 0;
	font-size:18px;
}
.graphData{
	border-radius:4px;
	border:1px solid gray;
	margin:0 auto;
	font-size:18px;
	padding: 20px;
	width:80%;
	cursor:pointer;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.graphData:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#adadad+0,cccccc+100 */
	background: #adadad; /* Old browsers */
	background: -moz-linear-gradient(top,  #adadad 0%, #cccccc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #adadad 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #adadad 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adadad', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.graphData:disabled {
	cursor:not-allowed;
}
.calenderContainer{
	text-align:center;	
}
.numBG{
	background-color:#565454;
	color:#fff;
	padding:6px 10px;
	border-radius:17px;
	font-weight:bold;
	float:left;	
	margin: 0 10px 0 0;
}
.headerContainer{
	float:left;	
	margin: 0 0 20px;
}
.headerContainer strong{
	font-size:17px;
	color:#565454;
	font-weight: bold;
}
.headerContainer input{
	padding: 3px 3px 3px 5px;	
}
.trackData{
	float:left;
	padding:20px;
	background-color: #fff;
	width:59%;
}
 .carousel {
	width:100%;
	height:250px;
	position:relative;
	clear:both;
	overflow:hidden;
	margin: 15px 0;

  }
.carousel-center{
	border:2px solid #262525;
}

.split-left {
	width:50px;
	float:left;
}
.split-right {
	width:50px;
	float:left;
	margin-left:10px;
}
#callback-output {
	height:250px;
	overflow:scroll;
}
img.selectedLevel {
	padding:1px;
  border:3px solid #FF8433;
  background-color:#ff0;
}
/* End Data Page */

	/* Marketing Page */
.mainSignIn{
	background: #ffffff url(../images/mainImage.png) no-repeat;
	height: 294px;
	position:relative;
}
.mainMessage{
	position:absolute;
	top:40px;		
	font-size:35px;
	width: 40%;
	left:10px;
	color:# 828282;
}
ul.signInContainer{
	position:absolute;
	right: 20px;
	top: 30px;
	background-color:#949494;
	opacity:.95;
	color:#fff;
	padding: 30px;
}
.signInContainer li.signInText{
	border-bottom:1px solid #ffffff;
}
.signInContainer li.signInText h2{
	color:#ffffff;
	margin:10px 0;
	font-size:35px;
}
.signInContainer li.signInText p{
	font-size:18px;
}
.signInContainer li.signInButton{
	text-align:center;
	margin: 20px 0;
}

.signInContainer li.signInNewUser{
	text-align:center;
	font-size:11px;
}
.signInContainer li.signInNewUser strong{
	font-weight:bold;	
}
.stepsStory{
	text-align:center;	
	margin:20px 0 0 0;
}
.stepsStory h3 {
	font-size:24px;	
}
.subHeading{
	font-weight:bold;
	font-size:18px;	
}
ul.easySteps{
	margin:30px 0;	
}
ul.easySteps li{
	display:inline-block;	
	margin:0 30px;
}
ul.easySteps li img{
	display:block;	
	margin:20px;
}
ul.easySteps li .numBG{
	float:none;
	margin:0;
}
.healthHeroStory{
	background: #ffffff url(../images/healthHeroStoryImg.png) no-repeat;
	height:330px;
	position:relative;
	color:#ffffff;
}
.healthHeroStory h5{
	font-size:36px;
	position:absolute;
	top: 100px;
	width:100%;
}
.healthHeroStory p{
	font-size:24px;	
	font-weight:bold;
	position:absolute;
	top: 140px;
	width:100%;
}
/* End Marketing Page */
}