/**
 * Eric Meyer's Reset CSS v2.0 
(http://meyerweb.com/
eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family:Arial,San-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {color:#fff;}
a:hover{color:#fff; text-decoration:none;}
body{
	width:100%;
	background: rgba(16,61,128,1);
	background: -moz-linear-gradient(left, rgba(16,61,128,1) 0%, rgba(35,106,160,1) 53%, rgba(122,165,199,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(16,61,128,1)), color-stop(53%, rgba(35,106,160,1)), color-stop(100%, rgba(122,165,199,1)));
	background: -webkit-linear-gradient(left, rgba(16,61,128,1) 0%, rgba(35,106,160,1) 53%, rgba(122,165,199,1) 100%);
	background: -o-linear-gradient(left, rgba(16,61,128,1) 0%, rgba(35,106,160,1) 53%, rgba(122,165,199,1) 100%);
	background: -ms-linear-gradient(left, rgba(16,61,128,1) 0%, rgba(35,106,160,1) 53%, rgba(122,165,199,1) 100%);
	background: linear-gradient(to right, rgba(16,61,128,1) 0%, rgba(35,106,160,1) 53%, rgba(122,165,199,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#103d80', endColorstr='#7aa5c7', GradientType=1 );
	position:relative;
}
#mainContainer{
	max-width:1100px;
	margin: 0 auto;
}
.logoExport{
	height:auto;
	max-width:1100px;
	margin:0 auto;
	position: relative;
	top: .75em;
	z-index: 2; 
	color:#fff;
}
.logoExport h1{
	background: transparent url(../images/HH_logo.png) no-repeat;
	text-indent:-99999px;
	height:70px;
	background-size: 90px 60px;
}
.logoHeaderBG{
	height: 5em;
	-moz-opacity:0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
	filter:alpha(opacity=40);
	background: #ffffff;
}
h1{
	font-size: 30px;
	text-align: left;
	float:left;
	width:70%;
}
h2{
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 5px 0;
}
h3{
	font-size:17px;
	margin: 0px 0px 10px 0;
}
h4,h5,strong,b{
	font-weight:bold;
}
footer{
	text-align: center;
	color:#fff;
	clear:both;
	background:transparent url(../images/whiteTransBG.png) repeat;
	padding:10px;
}

/* Data Page */
ul.signInInfo {
	float:left;
	width:20%;
}
ul.signInInfo li{
	display:inline;	
}
ul.signInInfo li.greeting{
	margin: 0 20px 0 0;
	padding: 0 20px 0 0;
	border-right:1px solid #fff;
}
.output{
	float:right;	
}

.sleepAlertness {
	width:40%;
	float:left;
}
.sleepAlertness h2, .sleepAlertness h3, .sleepAlertness p, .headerContainer h2, .headerContainer h3{
	color:#ffffff;	
}
.sleepAlertness ul li{
	padding:20px 15px ;
}
.sleepAlertness ul li ul li{
	padding:5px;
}
.chooseEmotion{
	text-align:center;
	font-size:12px;
}
.recordSleep{
	position:relative;	
	background:transparent url(../images/recordSleepBG.png) repeat;
}

.recordSleep ul {
	margin: 10px 0;
	display:inline-block;
	width:100%;
	position:relative;
}
.recordSleep ul li img{
	float:left;
}
.recordSleep ul.sleepTime{
	color:#fff;
	margin: 5px 0;
	font-size:13px;
}
.recordSleep ul.sleepTime li.bedtime{
	background:transparent url(../images/moonIcon.png) no-repeat;
	padding: 2px 10px 7px 22px;
}
.recordSleep ul.sleepTime li.wakeup{
	background:transparent url(../images/sunIcon.png) no-repeat;
	padding: 2px 10px 7px 22px;
}
/*.recordSleep ul li input{
	font-size:24px;
	padding:5px;	
}*/
.sleepTimePicker{
	display: inline-block;
	padding:5px;
	max-width: 150px;	
}
.recordSleep ul li{
	display:inline-block;
}
.recordSleep ul li.hoursSlept{
	float:right;
	position:absolute;
	top:4px;
	right:0;
	color:#909090;
}
.youSlept{
	border:1px solid #fff;
	text-align:center;
	width:80%;
	padding:10px;
	font-size:18px;	
	font-weight:bold;
}
.recordSleep ul li.hoursSlept ul li{
	background-color:#4f698c;
	color:#fff;
}
.recordSleep ul li.hoursSlept ul li strong{
	font-weight:bold;
	font-size: 28px;
	display:block;	
	text-align:center;
}
.alertnessLevel{
	position:relative;	
	background:transparent url(../images/alertnessBG.png) repeat;
}
.alert{
	font-weight:bold;
	margin:10px 0;
	font-size:18px;
}
.graph{
	background:transparent url(../images/recordSleepBG.png) repeat;	
	margin:0 auto;
	text-align:center;
}
.graphData{
	border-radius:8px;
	border:1px solid #ffffff;
	font-size:16px;
	padding: 15px 40px;
	cursor:pointer;
	background:none;
	color:#ffffff;
	font-weight:bold;
}
.graphData:hover{
	background:#000;
}
.calenderContainer{
	text-align:left;
	margin: 10px;
	position:relative;
}
.calenderContainer strong{
	font-size:20px;
	padding:0 10px 0 0;
}
.calenderContainer p{
	display:inline-block;
	float:left;
}
.calenderContainer div{
	display:inline-block;
	float:left;
}
.numBG{
	color:#fff;
	padding:6px 11px;
	border-radius:22px;
	font-weight:bold;
	float:left;	
	margin: 0 10px 0 0;
	border:2px solid #fff;
	font-size:20px;
}
.headerContainer{
	float:left;	
	margin: 0 0 25px;
}
.headerContainer strong{
	font-size:17px;
	font-weight: bold;
}
.headerContainer input{
	padding: 3px 3px 3px 5px;	
	border-radius:4px;
	width:140px;
}

.trackData{
	float:left;
	padding:20px;
}
#sleep-chart{
	background-color: #ffffff;
	margin: 5px;
}
#alertness-chart{
	background-color: #ffffff;
	margin: 5px;
}
.carousel {
	width:100%;
	height:200px;
	position:relative;
	clear:both;
	overflow:hidden;
	margin: 15px 0;
	z-index:1;
}
img.selectedLevel {
  border:2px solid #fff;
}
/*.alertnessLevelImage{
	width: 100%;
	height: 100%;
}*/
.alertnessLevelTitle{
	text-align: center;
	width: 100%;
	height: 100%;
	vertical-align: bottom;
}

.split-left {
  width:50px;
  float:left;
}

.split-right {
  width:50px;
  float:left;
  margin-left:10px;
}

#callback-output {
  height:250px;
  overflow:scroll;
}

/* End Data Page */

/* Marketing Page */
.mainSignIn{
	background: #ffffff url(../images/mainImage.png) no-repeat;
	height: 500px;
	position:relative;
}
.mainSignIn .logoExport h1{
  height: 92px;
}
.mainSignIn h2{
  padding: 20px 0px 0 0;
}
.mainSignIn h3{
	padding: 40px 0px 0 0;
}
.stepsStory h2{
  padding: 20px 0px 0 0;
}
.stepsStory h3{
	padding: 40px 0px 0 0;
}
#storybutton {
	position: absolute;
	top: 200px;
  width: 100%;
}
.mainMessage{
	position:absolute;
	top:40px;		
	font-size:35px;
	width: 40%;
	left:10px;
	color:# 828282;
}
ul.signInContainer{
  position:absolute;
  right: 20px;
  top: 0px;
  height: 500px;
  width: 400px;
  background-color:#ffffff;
  opacity:.75;
  color:#000;
  padding: 0px;
}
.signInContainer li.signInText{
	border-bottom:1px solid #ffffff;
}
.signInContainer li.signInText h2{
	color:#000000;
	margin:10px 0;
	font-size:35px;
}
.signInContainer li.signInText p{
	font-size:18px;
}
.signInContainer li.signInButton{
	text-align:center;
	margin: 40px 0;
}

.signInContainer li.signInNewUser{
	text-align:center;
	font-size:11px;
}
.signInContainer li.signInNewUser strong{
	font-weight:bold;	
}
.stepsStory{
	text-align:center;	
	margin:0px 0 0 0;
  background-color: #626ba8;
}
.stepsStory h3 {
	font-size:24px;
  top: 100px;
  color: #fff;
}
.subHeading{
	font-size:18px;	
  color: #fff;
}
ul.easySteps{
	margin:30px 0;
  color: #fff
}
ul.easySteps li{
	display:inline-block;	
	margin:0 30px;
}
ul.easySteps li img{
	display:block;	
	margin:20px;
}
ul.easySteps li .numBG{
	float:none;
	margin:0;
}
.healthHeroStory{
	background: #ffffff url(../images/healthHeroStoryImg.png) no-repeat;
	height:330px;
	position:relative;
	color:#ffffff;
}
.healthHeroStory h5{
	font-size:36px;
	position:absolute;
	top: 100px;
	width:100%;
}
.healthHeroStory p{
	font-size:24px;	
	font-weight:bold;
	position:absolute;
	top: 140px;
	width:100%;
}
/* End Marketing Page */
